<!DOCTYPE html>
<html>
<head>
    <title>Mini SIEM Dashboard</title>
</head>
<body>

    <h1>Mini SIEM Dashboard</h1>

    <hr>

    <h3>Total Events: {{ total_events }}</h3>

    <h3>Successful Logins: {{ successful_logins }}</h3>

    <h3>Failed Logins: {{ failed_logins }}</h3>

    <hr>

    <h2>Recent Security Events</h2>

    <table border="1" cellpadding="10">

        <tr>
            <th>Timestamp</th>
            <th>Event Type</th>
            <th>Username</th>
            <th>IP Address</th>
        </tr>

        {% for event in recent_events %}

        <tr>

            <td>{{ event.timestamp }}</td>

            <td>{{ event.event_type }}</td>

            <td>{{ event.username }}</td>

            <td>{{ event.ip_address }}</td>

        </tr>

        {% endfor %}

    </table>

    <hr>

    <h2>Threat Alerts</h2>

        {% for alert in credential_alerts %}

    <div>

        <h3>HIGH ALERT</h3>

        <p>
            Credential Stuffing Detected
        </p>

        <p>
            IP: {{ alert.ip }}
        </p>

        <p>
            Username: {{ alert.username }}
        </p>

        <p>
            Attempts: {{ alert.attempts }}
        </p>

    </div>

    <hr>

    {% endfor %}

    {% for alert in enumeration_alerts %}

    <div>

        <h3>MEDIUM ALERT</h3>

        <p>
            Username Enumeration Detected
        </p>

        <p>
            IP: {{ alert.ip }}
        </p>

        <p>
            Usernames Tried:
            {{ alert.user_count }}
        </p>

    </div>

    <hr>

    {% endfor %}

    <br><br> 

    <a href="/logout">
        <button>Logout</button>
    </a>

</body>
</html>