<!DOCTYPE html>
<html>
<head>
    <title>Mini SIEM Login</title>
</head>
<body>

    <h1>Mini SIEM Dashboard</h1>

    <form method="POST" action="/login">

        <label>Username:</label><br>
        <input type="text" name="username"><br><br>

        <label>Password:</label><br>
        <input type="password" name="password"><br>
        {% if message %}
            <p style="color:red;">{{ message }}</p>
        {% endif %}
        <br>

        <br>

        <button type="submit">Login</button>

    </form>

</body>
</html>